*{
    font-family: 'Ubuntu' , sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}
a{
color: white;
text-decor*{ation: none;
}
}
.ava{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.contenar h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.contenar .sub{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 500px;
    
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    
}
.card{
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 15px;
    background: #1a1a1a;
    cursor: pointer;
    transition: .3s ease;
}
.card:hover{
    transform: translate(-5px);
    border-color: #00f0d1;
    box-shadow: 0 5px 15px rgba(0, 240, 209, 0.2);
}
.btn{
    display: inline-block;
    color: #00f0d1;
    
    border-radius: 10px;
    border: 2px solid #00d0d1 ;
    background-color: transparent;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.4s;
    font-weight: bold;
    
}
.btn:hover{
    background: #00f0d1;
    color: #0f0f0f;
    transform: scale(1.07);
}
.about{
    margin: 30px 30px;
    text-align: center;
    background: #1a1a1a;
    padding: 25px;
    border-radius: 15px;
}
.about h2{
    color: #00f0d1;
    margin-bottom: 15px;
    text-align: center;
}
.about p{
    color: #ddd;
    font-size: 19px;
    line-height: 1.9;
}
.vtv   {
   margin: 30px auto;
    text-align: center;
    background: #1a1a1a;
    padding: 25px;
    border-radius: 15px;
    
    
    
}
.vtv h2{
    color: #00f0d1;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 20px;

    
    
    
}
.vtv li{
    color: #ddd;
    font-size: 19px;
    line-height: 1.9;
    padding: 20px;
    
    
}





.rer{
   margin: 30px auto;
    text-align: center;
    background: #1a1a1a;
    padding: 25px;
    border-radius: 15px;
    
}
.rer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-spacing: 8px;
    
    
}
.rer h2{
    color: #00f0d1;
    
}
.hyh{
   text-align: center;
   margin-bottom: 30px;
}
.hyh #ses{
margin: 20px 20px;
color: #00d0d1;
}
.hyh #open{
    margin-bottom:  20px;
    font-size: 40px;
    border: 2px solid transparent;
}
.hyh #open:hover{
    border-color: #00d0d1;
    width: 100px;
    height: 100px;


}
 
body{
    background-image: linear-gradient(to right,#01022d,black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ava{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}
.contenr{
    background-image: 
    linear-gradient(to right,#01022de5 30%,#00000082),
    url(download.webp);

    
    background-position: center;
    width: 90%;
    height: 500;
    
}
.contenr:hover{
     background-image: 
    linear-gradient(to right,#01022de5 30% ,transparent),
    url(download.webp);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

}
.logo{
    font-size: 35px;
    text-transform: uppercase;

}
ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
ul a{
    border-bottom: 2px solid transparent;
}
ul a:hover{
    border-bottom-color:white ;
    
}
.contete{
    color: white;
    width: 50%;
    margin-top: 50px;
    padding: 30px;
}
.contete h2{
    font-size: 100px;
    text-transform: uppercase;
}
.contete p{
    letter-spacing: 3px;
    width: 380px;
    padding: 20px 0;
}
.contete button{
    font-size: 30px;
    padding: 6px 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    cursor: pointer;
}
.contete button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
    

}


